In [ ]:
import pandas as pd
df = pd.read_csv('hepatitis_csv.csv')
df.head()

In [ ]:
df = df.dropna()
df.head()

   age     sex steroid  antivirals  ... ascites varices histology class
0   30    male   False       False  ...   False   False     False  live
1   50  female   False       False  ...   False   False     False  live
2   78  female    True       False  ...   False   False     False  live
4   34  female    True       False  ...   False   False     False  live
5   34  female    True       False  ...   False   False     False  live

[5 rows x 15 columns]

In [ ]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [ ]:
df['steroid'] = le.fit_transform(df['steroid']) 
df['antivirals'] = le.fit_transform(df['antivirals']) 
df['fatigue'] = le.fit_transform(df['fatigue']) 
df['malaise'] = le.fit_transform(df['malaise']) 
df['anorexia'] = le.fit_transform(df['anorexia']) 
df['liver_big'] = le.fit_transform(df['liver_big']) 
df['liver_firm'] = le.fit_transform(df['liver_firm']) 
df['spleen_palpable'] = le.fit_transform(df['spleen_palpable'])
df['spiders'] = le.fit_transform(df['spiders'])
df['ascites'] = le.fit_transform(df['ascites'])
df['varices'] = le.fit_transform(df['varices'])
df['varices'] = le.fit_transform(df['varices'])
df['histology'] = le.fit_transform(df['histology'])
df['kondisi'] = le.fit_transform(df['class'])

df.head()

In [ ]:
df.drop (['age','sex','class'],inplace=True,axis=1)

In [ ]:
df.info()

**DECISION TREE**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
xdata = df.drop('kondisi',axis=1)
ydata = df.kondisi

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split (xdata,ydata,test_size=0.2, random_state=1)

In [ ]:
clf = DecisionTreeClassifier()
clf = clf.fit(xtrain,ytrain)

In [ ]:
ypred = clf.predict(xtest)
ypred

In [ ]:
print('Akurasi DTREE = ',metrics.accuracy_score(ytest,ypred)*100)

Akurasi DTREE =  76.74418604651163

**NAIVE BAYES**

In [ ]:
import numpy as np

In [ ]:
xdata = df.drop('kondisi',axis=1)
ydata = df.kondisi 

ydata

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split (xdata,ydata,test_size=0.3, random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
nbtrain = gnb.fit(xtest,ytest)
ymodel=gnb.fit(xtest,ytest)

In [ ]:
print('Akurasi NAIVE BAYES = ',metrics.accuracy_score(ytest,ypred)*100)

Akurasi NAIVE BAYES =  76.74418604651163